[loggers]
keys=root,OwencraftWeather

[handlers]
keys=fileHandler,streamHandler

[formatters]
keys=OwencraftWeatherFormatter

[logger_root]
level=NOTSET
handlers=fileHandler

[logger_OwencraftWeather]
level=INFO
handlers=fileHandler,streamHandler
qualname=OwencraftWeather
propagate=0

[handler_fileHandler]
class=FileHandler
formatter=OwencraftWeatherFormatter
args=(sys.path[0] + '/logs/owencraft_weather.log', 'a+')

[handler_streamHandler]
class=StreamHandler
formatter=OwencraftWeatherFormatter
args=(sys.stdout,)

[formatter_OwencraftWeatherFormatter]
format=%(event_date)s %(hostname)s %(program)s[%(pid)s] %(message)s
class=logging.Formatter
